<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous">
    <title>Pizzeria Crud</title>
</head>

<body>
<div class="bg-warning mh-100 fixed-bottom fixed-top">
    <h1 class="text-danger text-center m-2">Le nostre pizze:</h1>
    <span th:if="${pizze.size() == 0}">Al momento non ci sono pizze disponibili</span>
    <div class="d-flex justify-content-evenly m-5">
        <div class="card text-center border-0" style="width: 18rem;" th:each="pizza:${pizze}">
            <img th:src="${pizza.urlFoto}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title" th:text="${pizza.nome}"></h5>
                <a th:href="@{/pizze/show/{id}(id=${pizza.id})}" class="btn btn-primary">Dettagli</a>
                <a th:href="@{/pizze/edit/{id}(id=${pizza.id})}" class="btn btn-primary">Modifica</a>
                <form th:action="@{pizze/delete/{id}(id=${pizza.id})}"
                      id="delete-pizza"
                      method="POST"
                      th:object="${pizza}">
                    <button type="submit" class="btn btn-secondary m-1">Elimina</button>
                </form>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <a th:href="@{/pizze/create}" class="btn btn-danger m-2">Crea nuova pizza</a>
        <a th:href="@{/ingredienti/show}" class="btn btn-primary m-2">Mostra ingredienti</a>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>